# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\shoha\Desktop\הנדסת תעשייה וניהול\שנה ד\סימסטר א\ווב\repos\hellow-world.shoham.shabat\assignment8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
